@model MVC_assesment.Models.Customers

<h2>Customer with Order ID 10248</h2>
<table>
    <tr>
        <th>Customer ID</th>
        <th>Company Name</th>
        <th>Contact Name</th>
        <th>Contact Title</th>
        <th>Country</th>
    </tr>
    <tr>
        <td>@Model.CustomerID</td>
        <td>@Model.CompanyName</td>
        <td>@Model.ContactName</td>
        <td>@Model.ContactTitle</td>
        <td>@Model.Country</td>
    </tr>
</table>

